.listRow {
    max-width: 900px;
    background-color: white;
    margin-top: 5px solid transparent;
    margin-bottom: 5px solid transparent;
    .title {
        text-decoration: none;
        color: #32b4d2;
    }
}

.form {
    .form-control {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        padding-right: 42.5px;
        display: block;
        font-size: 14px;
        line-height: 1.428571;
    }
    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        &.has-error {
            border-color: #843534;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
        }
    }
    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    &.btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    &.btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    &.btn-link {
        color: #337ab7;
        font-weight: 400;
        border-radius: 0;
    }
}

.dropdown {

    .open {
        .dropdown-toggle {
           color: #333;
           background-color: #e6e6e6;
           border-color: #adadad;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
    
        li {
            display: list-item;
            text-align: -webkit-match-parent;
    
            a {
                text-decoration: none;
            }
        }
    }
    
}
