.listRow {
    max-width: 900px;
    background-color: white;
    margin-top: 5px solid transparent;
    margin-bottom: 5px solid transparent;
    .title {
        text-decoration: none;
        color: #32b4d2;
    }
}

.form {
    .form-control {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        padding-right: 42.5px;
        display: block;
        font-size: 14px;
        line-height: 1.428571;
    }
    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        &.has-error {
            border-color: #843534;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
        }
    }
    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
    }
}